 * {
  margin:0;
  padding:0;
  box-sizing:border-box; 
 }
 :root{
  --purple-color:hsl(332, 40%, 81%);
  --brown-color:hsl(14, 45%, 36%);
  --light-grey:hsl(30, 10%, 34%);
  --dark-brown:hsl(24, 5%, 18%);
  --white:hsl(30, 18%, 87%);
 }
 body{
  margin:30px;
  margin-right:30px;
 }
 #recipe-intro-image img{
  width:90vw;
  border-radius:15px;
  height:50vh;
  object-fit:cover;
 }
 #recipe-intro-heading{
  color:var(--dark-brown);
  margin:30px 0 23px 0;
  font-family: "Young Serif", serif;
  font-weight: 900;
  font-style: normal;
 }
  #Recipe-Intro-Paragraph{
    margin-bottom:30px;
    font-family: "Young Serif", serif;
    font-weight: 100;
    font-style: normal;
  }
section#Preparation-time{
  background:rgb(233, 220, 233);
  height:35vh;
  border-radius:15px;
}
section#Preparation-time ul li{
  list-style-position:inside;
  margin:20px 0 30px 40px;
  color:var(--light-grey);
  font-family: "Young Serif", serif;
  font-weight: 100;
  font-style: normal;
}
#preparation-time-heading{
  margin-left:40px;
  color:rgb(109, 15, 109);
  padding-top:30px;
  font-family: "Young Serif", serif;
  font-weight: 900;
  font-style: normal;
}
#Recipe-Intro-Paragraph{
  color:var(--light-grey);
  font-size:16px;
  font-family: "Young Serif", serif;
  font-weight: 100;
  font-style: normal;
}
section#ingredients{
  height:40vh;
  margin-top:30px;
}
section#ingredients ul li{
  list-style-position:inside;
  margin:20px;
  color:var(--light-grey);
  font-size:16px;
  font-family: "Young Serif", serif;
  font-weight: 100;
  font-style: normal;
}
#ingredients-heading{
  color:var(--brown-color);
  font-family: "Young Serif", serif;
  font-weight: 900;
  font-style: normal;
}
#instructions,#nutrition {
  height:60vh;
}
#instructions ol li{
  list-style-position: inside;
  margin:20px;
  color:var(--light-grey);
  font-family: "Young Serif", serif;
  font-weight: 100;
  font-style: normal;
}
#instructions-heading,.nutrition-heading {
  color:var(--brown-color);
  margin-top:20px;
  margin-bottom:20px;
  font-family: "Young Serif", serif;
  font-weight: 900;
  font-style: normal;
}
ol li::marker{
  color:var(--brown-color);
}
hr {
  border:1px solid var(--white);
}
#nutri-paragraph{
  color:var(--light-grey);
  margin:20px 0 20px 0;
  font-family: "Young Serif", serif;
  font-weight: 100;
  font-style: normal;
}
.nutrition{
  display:flex;

}
.nutrition > p{
  margin:20px 0 20px 0;
  font-family: "Young Serif", serif;
  font-weight: 100;
  font-style: normal;
}
.second{
  color:var(--brown-color);
  justify-self:flex-end;
}
span{
  color:var(--dark-brown);
  font-weight:bolder;
}
@media (max-width:375px){
  section#Preparation-time{
    height:40vh;
  }
  section#ingredients{
    height:50vh;
  }
  body{
    margin:0;
  }
  #recipe-intro-image img{
    width:100vw;
    border-radius:0;
    object-fit:cover;
    height:auto;
  }
  #recipe-intro-heading{
    margin-left:30px;
  }
  #Recipe-Intro-Paragraph{
    margin-left:30px;
    line-height:35px;
  }
  section#Preparation-time{
    width:90vw;
    margin-left:30px;
    height:35vh;
  }
 section#ingredients{
  margin-left:30px;
  height:40vh;
  background:red;
 }
 #ingredients-heading{
  color:var(--brown-color);
  margin-left:40px;
}
#instructions{
  margin-left:30px;
  height:170vh;
}
section#ingredients ul li{
  margin-left:40px;
}
#instructions-heading{
  margin-left:40px;
}
#instructions ol li{
  margin-left:40px;
  line-height:35px;
}
.nutrition-heading{
  margin-left:40px;
}
#nutri-paragraph{
  margin-left:40px;
}
#nutrition{
  margin-left:30px;
}
.nutrition .first{
  margin-left:40px;
  min-width:250px;
}
hr{
  margin-left:30px;
  margin-bottom:35px;
}
}
.first{
  min-width:300px;
}
